    #mastermindContainer{
      background-color:burlywood;
      width:450px;
      margin:auto;
      padding:30px;
      border-radius: 10px;
      font-family: Arial, Helvetica, sans-serif;
      box-shadow: 5px 5px 5px #888888;
    }
    h2{
      text-align: center;
      margin-top:20px;
    }
    button{
      border-radius: 10px;
      padding:10px;
      /*box-shadow: 1px 1px 1px #888888;*/
    }
    button:hover{
      background-color: #878664;
    }
    #hint{
      display:none;
      margin-top: 20px;
    }
    #mastermindBoard{
      float:left;
    } 
    #colorSelector{
      margin-left: 200px;
      width:40px;
      height:250px;
      background-color: burlywood;
      padding-top: 5px;
      border:1px solid black;
    } 
    /*Manage these child selectors carefully since the children are draggable and when they move
    out of their parent their styles will change.  The same applies for other child selectors below*/
    #colorSelector div{
      margin-top: 5px;
    }
    #controls{
      clear:both;
      margin-top: 30px
    }
    #enigma div{
      display:inline-block;
      margin-left:6px;
      cursor:none;
    }
    #remainingCombos{
      margin-top: 50px
      width:200px;
      padding-top: 20px;
    }
    #remainingCombos div{
      display:inline-block;
      margin-left:6px;
      cursor:none;
    }
    .guess .dropDiv
    {
      border-radius: 50%;
      background-color: grey;
      width:21px;
      height:21px;
      border:black solid 1px;
      text-align:center;
      display:inline-block;
      margin-left: 5px;
    }
    .pegDiv{
      background-color: burlywood;
      width:21px;
      height:21px;
      display:inline-block;
      border:black solid 1px;
      margin-left: 5px;
      /*padding:7px;*/
    }
    .whitePeg{
      border-radius: 50%;
      background-color: white;
      width:8px;
      height:8px;
      border:burlywood solid 1px;
      /*margin-left:2px;*/
      /*display:inline-block;*/
      float:left;
      /*margin-top:2px;
      margin-left:2px;*/
    }
    .blackPeg{
      border-radius: 50%;
      background-color: black;
      width:8px;
      height:8px;
      border:burlywood solid 1px;
      /*margin-left:2px;*/
      /*display:inline-block;*/
      float:left;
      /*margin-top:2px;
      margin-left:2px;*/
    }
    .blackCircle {
      border-radius: 50%;
      background-color: black;
      border:black solid 1px;
      width:20px;
      height:20px;
      cursor:move;
      margin:auto;
    }
    .blueCircle {
      border-radius: 50%;
      background-color: blue;
      border:black solid 1px;
      width:20px;
      height:20px;
      cursor:move;
      margin:auto;
    }
    .brownCircle {
      border-radius: 50%;
      background-color: brown;
      border:black solid 1px;
      width:20px;
      height:20px;
      cursor:move;
      margin:auto;
    }
    .greenCircle {
      border-radius: 50%;
      background-color: green;
      border:black solid 1px;
      width:20px;
      height:20px;
      cursor:move;
      margin:auto;
    }
    .orangeCircle {
      border-radius: 50%;
      background-color: orange;
      border:black solid 1px;
      width:20px;
      height:20px;
      cursor:move;
      margin:auto;
    }
    .redCircle {
      border-radius: 50%;
      background-color: red;
      border:black solid 1px;
      width:20px;
      height:20px;
      cursor:move;
      margin:auto;
    }
    .whiteCircle {
      border-radius: 50%;
      /*border:black 1px solid;*/
      background-color: white;
      border:black solid 1px;
      width:20px;
      height:20px;
      cursor:move;
      margin:auto;
    }
    .yellowCircle {
      border-radius: 50%;
      background-color: yellow;
      border:black solid 1px;
      width:20px;
      height:20px;
      cursor:move;
      margin:auto;